{% extends "layout" %}

{% use "layout/head" %}
{% use "layout/body/header" %}
{% use "layout/body/main" %}
{% use "layout/body/footer" %}

{% block document_head_javascripts %}
    <script defer="defer" type="text/javascript" src="{{ elixir('vendor.js') }}"></script>
    <script defer="defer" type="text/javascript" src="{{ elixir('index.js') }}"></script>
{% endblock %}

{% block document_head_stylesheets %}
    <link rel="stylesheet" href="{{ elixir('vendor.css') }}">
{% endblock %}

{% block document_body_main %}
    <main class="container" id="root"></main>
{% endblock %}
