.*
/cypress/fixtures/.*.json
/cypress/screenshots/*
/cypress/videos/*
/database/seeds/SetsTableSeeder.php
/database/seeds/SkillsTableSeeder.php
/node_modules
/public/build
/public/fonts/*
/public/storage
/storage/*.key
/storage/coverage*
/vendor
!.babelrc
!.env.*
!.git*
!.*rc
!*.yml
.gitsecret/keys/random_seed
_ide_helper.php
docker-compose.override.yml
source-map-explorer-tree.html
old
