@import "./global/variables";
@import "~bootstrap/scss/mixins/breakpoints";

table {
    &.calendar {
        &.list-view {
            margin-bottom: $grid-gutter-width;

            > caption {
                caption-side: top;
                padding: $grid-gutter-width / 2;
                margin: 0 $grid-gutter-width / 2 -2px;

                &:after {
                    content: attr(data-weekday);
                    float: right;
                }
            }

            > tbody {
                display: block;
                margin: 0 -2px;
                border-width: 1px;
                border-style: solid;

                > tr {
                    > td {
                        &:first-of-type {
                            padding-left: $grid-gutter-width;
                            padding-right: $grid-gutter-width * 2;
                        }
                    }
                }
            }
        }

        &.month-view {
            > thead {
                > tr {
                    > th {
                        text-align: center;
                        width: calc((100% - 70px) / 7);

                        &:first-of-type {
                            width: 70px;
                        }
                    }
                }
            }

            > tbody {
                > tr {
                    &:hover {
                        background-image: none;
                    }

                    > td {
                        height: 7em;

                        &:first-of-type {
                            vertical-align: middle;
                        }

                        &.days {
                            position: relative;
                            border: 1px #cccccc solid;
                            padding-top: 1.7em;

                            &:after {
                                content: attr(data-date);
                                position: absolute;
                                top: 2px;
                                right: 4px;
                                z-index: 10;
                            }
                        }
                    }
                }
            }
        }
    }
}
