@import "./global/variables";
@import "~bootstrap/scss/mixins/breakpoints";

table.character-list-table {
    > thead {
        > tr {
            > th {
                @include media-breakpoint-up(xs) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(2) {
                        width: 40%;
                    }
                    &:nth-of-type(3) {
                        width: 20%;
                    }
                }

                @include media-breakpoint-up(sm) {
                    &:nth-of-type(1) {
                        width: 35%;
                    }
                    &:nth-of-type(2) {
                        width: 45%;
                    }
                    &:nth-of-type(3) {
                        width: 20%;
                    }
                }

                @include media-breakpoint-up(md) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(2) {
                        width: 52%;
                    }
                    &:nth-of-type(3) {
                        width: 18%;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(1) {
                        width: 20%;
                    }
                    &:nth-of-type(2) {
                        width: 70%;
                    }
                    &:nth-of-type(3) {
                        width: 10%;
                    }
                }
            }
        }
    }

    > tbody {
        > tr {
            > td {
                vertical-align: middle !important;
            }
        }
    }
}

tr {
    &.no-clearance {
        background-color: rgba(150, 150, 150, 0.2);
    }

    &.tier-1 {
        background-color: theme-color('tierOne');
        color: color('tierOne');
    }

    &.tier-2 {
        background-color: theme-color('tierTwo');
        color: color('tierTwo');
    }

    &.tier-3 {
        background-color: theme-color('tierThree');
        color: color('tierThree');
    }

    &.tier-4 {
        background-color: theme-color('tierFour');
        color: color('tierFour');
    }
}
