@import "./global/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

table {
    > thead {
        > tr {
            > th {
                @include media-breakpoint-up(xs) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }

                    &:nth-of-type(4) {
                        width: 40%;
                    }

                    &:nth-of-type(5) {
                        width: 20%;
                    }

                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: none;
                    }
                }

                @include media-breakpoint-up(sm) {
                    &:nth-of-type(1) {
                        width: 35%;
                    }

                    &:nth-of-type(4) {
                        width: 50%;
                    }

                    &:nth-of-type(5) {
                        width: 15%;
                    }
                }

                @include media-breakpoint-up(md) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(4) {
                        width: 60%;
                    }

                    &:nth-of-type(5) {
                        width: 10%;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(1) {
                        width: 15%;
                    }
                    &:nth-of-type(2) {
                        width: 15%;
                    }
                    &:nth-of-type(3) {
                        width: 20%;
                    }
                    &:nth-of-type(4) {
                        width: 40%;
                    }
                    &:nth-of-type(5) {
                        width: 10%;
                    }
                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: table-cell;
                    }
                }

                @include media-breakpoint-up(xl) {
                    &:nth-of-type(4) {
                        width: 43%;
                    }
                    &:nth-of-type(5) {
                        width: 7%;
                    }
                }
            }
        }
    }

    > tbody {
        > tr {
            > td {
                @include media-breakpoint-up(xs) {
                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: none;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: table-cell;
                    }
                }
            }
        }
    }
}

button {
    &.midgame {
        color: rgb(46, 204, 113);
    }

    &.endgame_tier_0 {
        color: rgb(52, 152, 219);
    }

    &.endgame_tier_1 {
        color: rgb(155, 89, 182);
    }

    &.endgame_tier_2 {
        color: rgb(230, 126, 34);;
    }
}

tr {
    &.no_clearance {
        background-color: rgba(150, 150, 150, 0.2);
    }

    &.midgame {
        background-color: rgba(46, 204, 113, 0.2);
    }

    &.endgame_tier_0 {
        background-color: rgba(52, 152, 219, 0.2);
    }

    &.endgame_tier_1 {
        background-color: rgba(155, 89, 182, 0.2);
    }

    &.endgame_tier_2 {
        background-color: rgba(230, 126, 34, 0.2);
    }
}
