@import "./global/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

table.my-character-list-table {
    > thead {
        > tr {
            > th {
                @include media-breakpoint-up(xs) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(4) {
                        width: 40%;
                    }
                    &:nth-of-type(5) {
                        width: 20%;
                    }
                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: none;
                    }
                }

                @include media-breakpoint-up(sm) {
                    &:nth-of-type(1) {
                        width: 35%;
                    }
                    &:nth-of-type(4) {
                        width: 45%;
                    }
                    &:nth-of-type(5) {
                        width: 20%;
                    }
                }

                @include media-breakpoint-up(md) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(4) {
                        width: 57%;
                    }
                    &:nth-of-type(5) {
                        width: 13%;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(1) {
                        width: 15%;
                    }
                    &:nth-of-type(2) {
                        width: 15%;
                    }
                    &:nth-of-type(3) {
                        width: 20%;
                    }
                    &:nth-of-type(4) {
                        width: 40%;
                    }
                    &:nth-of-type(5) {
                        width: 10%;
                    }
                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: table-cell;
                    }
                }

                @include media-breakpoint-up(xl) {
                    &:nth-of-type(4) {
                        width: 40%;
                    }
                    &:nth-of-type(5) {
                        width: 10%;
                    }
                }
            }
        }
    }

    > tbody {
        > tr {
            > td {
                @include media-breakpoint-up(xs) {
                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: none;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(2), &:nth-of-type(3) {
                        display: table-cell;
                    }
                }
            }
        }
    }
}

tr {
    &.no_clearance {
        background-color: rgba(150, 150, 150, 0.2);
    }

    &.tier_1 {
        background-color: rgba(46, 204, 113, 0.2);
    }

    &.tier_2 {
        background-color: rgba(52, 152, 219, 0.2);
    }

    &.tier_3 {
        background-color: rgba(155, 89, 182, 0.2);
    }

    &.tier_4 {
        background-color: rgba(230, 126, 34, 0.2);
    }
}
