@import "./global/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

table {
    > thead {
        > tr {
            > th {
                @include media-breakpoint-up(xs) {
                    &:nth-of-type(3), &:nth-of-type(5), &:nth-of-type(6) {
                        display: none;
                    }
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(2) {
                        width: 30%;
                    }
                    &:nth-of-type(4) {
                        display: table-cell;
                        width: 40%;
                    }
                }

                @include media-breakpoint-up(sm) {
                    &:nth-of-type(1) {
                        width: 35%;
                    }
                    &:nth-of-type(2) {
                        width: 35%;
                    }
                    &:nth-of-type(4) {
                        display: table-cell;
                        width: 30%;
                    }
                }

                @include media-breakpoint-up(md) {
                    &:nth-of-type(1) {
                        width: 15%;
                    }
                    &:nth-of-type(2) {
                        width: 15%;
                    }
                    &:nth-of-type(4) {
                        width: 18%;
                    }
                    &:nth-of-type(5) {
                        display: table-cell;
                        width: 18%;
                    }
                    &:nth-of-type(6) {
                        width: 6%;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(1) {
                        width: 15%;
                    }
                    &:nth-of-type(2) {
                        width: 15%;
                    }
                    &:nth-of-type(3) {
                        display: table-cell;
                        width: 18%;
                    }
                    &:nth-of-type(4) {
                        width: 14%;
                    }
                    &:nth-of-type(5) {
                        width: 14%;
                    }
                    &:nth-of-type(6) {
                        display: table-cell;
                        width: 6%;
                    }
                }

                @include media-breakpoint-up(xl) {
                    &:nth-of-type(2) {
                        width: 19%;
                    }
                    &:nth-of-type(3) {
                        width: 30%;
                    }
                    &:nth-of-type(6) {
                        width: 8%;
                    }
                }
            }
        }
    }

    > tbody {
        > tr {
            > td {
                overflow-x: hidden;

                @include media-breakpoint-up(xs) {
                    &:nth-of-type(3), &:nth-of-type(5), &:nth-of-type(6) {
                        display: none;
                    }
                }

                @include media-breakpoint-up(md) {
                    &:nth-of-type(5) {
                        display: table-cell;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(3), &:nth-of-type(6) {
                        display: table-cell;
                    }
                }
            }
        }
    }
}
