@import "./global/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

table.team-list-table {
    > thead {
        > tr {
            > th {
                @include media-breakpoint-up(xs) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(2) {
                        width: 10%;
                    }
                    &:nth-of-type(3) {
                        width: 30%;
                    }
                    &:nth-of-type(4) {
                        display: none;
                    }
                    &:nth-of-type(5) {
                        width: 15%;
                    }
                }

                @include media-breakpoint-up(sm) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(2) {
                        width: 10%;
                    }
                    &:nth-of-type(3) {
                        width: 30%;
                    }
                    &:nth-of-type(4) {
                        display: none;
                    }
                    &:nth-of-type(5) {
                        width: 15%;
                    }
                }

                @include media-breakpoint-up(md) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(2) {
                        width: 10%;
                    }
                    &:nth-of-type(3) {
                        width: 30%;
                    }
                    &:nth-of-type(5) {
                        width: 15%;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(1) {
                        width: 30%;
                    }
                    &:nth-of-type(2) {
                        width: 10%;
                    }
                    &:nth-of-type(3) {
                        width: 25%;
                    }
                    &:nth-of-type(4) {
                        display: table-cell;
                        width: 20%;
                    }
                    &:nth-of-type(5) {
                        width: 15%;
                    }
                }
            }
        }
    }

    > tbody {
        > tr {
            > td {
                vertical-align: middle !important;

                @include media-breakpoint-up(xs) {
                    &:nth-of-type(4) {
                        display: none;
                    }
                }

                @include media-breakpoint-up(lg) {
                    &:nth-of-type(4) {
                        display: table-cell;
                    }
                }
            }
        }
    }
}

tr {
    &.tier-1 {
        background-color: rgba(46, 204, 113, 0.2);
    }

    &.tier-2 {
        background-color: rgba(52, 152, 219, 0.2);
    }

    &.tier-3 {
        background-color: rgba(155, 89, 182, 0.2);
    }

    &.tier-4 {
        background-color: rgba(230, 126, 34, 0.2);
    }
}
