@import "global/variables";
@import "~bootstrap/scss/bootstrap";
@import "global/fonts/asapcondensed";
@import "global/fonts/oblivion";
@import "global/fonts/opensans";
@import "global/fonts/planewalker";
@import "global/fonts/skyrim_daedra";
@import "global/notifications";

//noinspection CssUnknownTarget
body {
    background: black url('/images/bg-sm.jpg') fixed no-repeat 50% 0;
    background-size: auto 100%;
    @include media-breakpoint-up(sm) {
        background-size: 100% auto;
    }
    @include media-breakpoint-up(md) {
        background-image: url('/images/bg-md.jpg');
    }
    @include media-breakpoint-up(lg) {
        background-image: url('/images/bg-xl.jpg');
    }
    font-size: 16px;

    > header.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;

        > h1 {
            height: calc(100vw * 121 / 561);
            background: url('/images/logo.png') no-repeat 100% 50%;
            background-size: 124vw auto;
            margin: 3vw 0;
            padding-left: 0;
            padding-right: 0;
            text-indent: -99999px;

            @include media-breakpoint-up(sm) {
                height: 130px;
                background: url('/images/logo.png') no-repeat 0 50%;
                background-size: auto 90%;
                margin: 0;
            }
            @include media-breakpoint-up(xl) {
                background: url('/images/logo.png') no-repeat 0 50%;
            }
        }

        > ul.member-bar {
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;

            > li {
                > figure {
                    margin-bottom: 0;
                }
            }
        }

        > nav {
            padding-left: 0;
            padding-right: 0;
            font-family: $font-family-sans-serif;
            font-weight: 600;
            font-size: 1.1rem;
            text-transform: uppercase;

            > ul {
                margin-bottom: 0;
                padding-left: 0;
                list-style: none;

                &.nav-tabs {
                    border-bottom: none;
                }

                > li {
                    float: left;
                    margin-right: 0.3em;
                    line-height: 56px;

                    &.pull-right {
                        float: right;
                        margin-right: 0;
                        margin-left: 0.3em;
                    }

                    &.nav-item {
                        margin-bottom: unset;
                    }

                    > a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        padding: 0 1em;
                        border: none !important;
                        border-radius: 6px 6px 0 0;
                        background-color: rgba(white, 0.5);
                        text-decoration: none;
                        color: #666666;

                        &.active {
                            background-color: rgba(white, 0.85);
                            color: inherit;
                        }
                    }

                    @include media-breakpoint-only(xs) {
                        &:first-of-type {
                            > a {
                                border-radius: 0 6px 0 0;
                            }
                        }

                        &:last-of-type {
                            > a {
                                border-radius: 6px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }

    > main.container {
        background-color: rgba(white, 0.85);
        border-radius: 0 0 6px 6px;
        padding-top: $grid-gutter-width;
        padding-bottom: $grid-gutter-width;
        min-height: calc(100vh - 186px - 80px);
        @include media-breakpoint-only(xs) {
            min-height: calc(100vh - 186px - 60px);
        }

        @include media-breakpoint-only(xs) {
            border-radius: 0;
        }

        > section, > form {
            position: relative;

            > h2 {
                display: inline-block;
                padding-right: 70px;
                font-weight: 600;
            }

            > ul.ne-corner {
                position: absolute;
                top: 3px;
                right: $grid-gutter-width / 2;
                display: flex;
                flex-direction: row;
                list-style: none;

                > li {
                    margin-left: 10px;

                    > a, > button {
                        &.success {
                            color: $success;
                        }

                        &.danger {
                            color: #ff6666;
                        }
                    }

                    > a {
                        font-size: 1.3rem;
                    }

                    > button {
                        outline: none;
                        background-color: #edffed;
                        border: #aaffaa 1px solid;
                        //padding: 0;
                        font-size: 1rem;

                        &.inactive {
                            background-color: #ffeded;
                            border: #ffaaaa 1px solid;
                        }
                    }
                }
            }

            > table {
                border-collapse: separate;
                table-layout: fixed;

                > thead {
                    border-bottom: 1px;

                    > tr {
                        > th {
                            text-transform: uppercase;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 300 !important;
                            font-size: 0.75rem;
                        }
                    }
                }

                > tbody {
                    > tr {
                        &:hover {
                            background-image: linear-gradient(rgba(200, 200, 200, 0.25) 0%, transparent 50%, rgba(200, 200, 200, 0.25) 100%);
                        }

                        > td {
                            position: relative;
                            vertical-align: top;

                            > ul.actionList {
                                position: absolute;
                                right: 0;
                                top: 1px;
                                display: none;
                                margin: 0;
                                list-style: none;
                                flex-direction: row;
                                justify-content: space-between;

                                > li {
                                    margin-left: $grid-gutter-width / 4;
                                }
                            }

                            > small {
                                font-size: 0.75rem;
                            }
                        }

                        &:hover {
                            ul.actionList {
                                display: flex;
                            }
                        }
                    }
                }
            }

            input:focus {
                outline-width: 0;
            }

            > fieldset {
                > input {
                    border: 1px rgb(204, 204, 204) solid;
                    border-radius: 4px;
                    padding: 2px 8px;
                    line-height: 32px;
                    font-size: 1rem;
                }
            }
        }
    }

    > footer.container {
        height: 80px;
        padding-top: $grid-gutter-width / 2;
        padding-bottom: $grid-gutter-width / 2;
        padding-left: 0;
        padding-right: 0;
        color: white;
        font-size: 0.875rem;

        @include media-breakpoint-only(xs) {
            height: 60px;
            font-size: 1.25rem;
            text-align: center;
        }
    }
}
