@import "global/variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "global/fonts/asapcondensed";
@import "global/fonts/opensans";
@import "global/fonts/planewalker";
@import "global/buttons";
@import "global/notifications";

//noinspection CssUnknownTarget
body {
    &[data-initialized="true"] {
        background: black url('/images/bg-sm.jpg') fixed no-repeat 50% 0;
        background-size: auto 100%;
        @include media-breakpoint-up(sm) {
            background-size: 100% auto;
        }
        @include media-breakpoint-up(md) {
            background-image: url('/images/bg-md.jpg');
        }
        @include media-breakpoint-up(lg) {
            background-image: url('/images/bg-xl.jpg');
        }
    }
    font-size: 16px;

    *:focus {
        outline: none;
    }

    &.theme-default {
        --fa-primary-color: #f7b697;
        --fa-secondary-color: #a47b63;
        --fa-secondary-opacity: 1.0;
    }

    > main.container {
        background-color: rgba(white, 0.95);
        border-radius: 0 6px 6px 6px;
        padding-top: $grid-gutter-width;
        padding-bottom: $grid-gutter-width;
        min-height: calc(100vh - 186px - 80px);
        @include media-breakpoint-only(xs) {
            min-height: calc(100vh - 186px - 60px);
        }

        @include media-breakpoint-only(xs) {
            border-radius: 0;
        }

        > section, > form {
            position: relative;

            > h2 {
                display: inline-block;
                padding-right: 70px;
                font-weight: 600;
            }

            > ul.ne-corner {
                position: absolute;
                top: 3px;
                right: $grid-gutter-width / 2;
                display: flex;
                flex-direction: row;
                list-style: none;

                > li {
                    margin-left: 10px;

                    > a, > button {
                        font-size: 1.2rem;

                        &.success {
                            color: $success;
                        }

                        &.danger {
                            color: #ff6666;
                        }
                    }

                    > button {
                        outline: none;
                        border: none;
                        padding: 0;

                        &.inactive {
                            opacity: 0.5;
                        }
                    }
                }
            }

            table {
                border-collapse: separate;
                table-layout: fixed;

                > thead {
                    border-bottom: 1px;

                    > tr {
                        > th {
                            text-transform: uppercase;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 300 !important;
                            font-size: 0.75rem;
                        }
                    }
                }

                > tbody {
                    > tr {
                        &:hover {
                            background-image: linear-gradient(rgba(200, 200, 200, 0.25) 0%, transparent 50%, rgba(200, 200, 200, 0.25) 100%);
                        }

                        > td {
                            position: relative;
                            vertical-align: top;
                            padding: 3px;

                            > ul.action-list {
                                display: flex;
                                //@media (hover: hover) {
                                //    display: none;
                                //}
                                margin: 0;
                                list-style: none;
                                flex-direction: row;
                                justify-content: flex-end;

                                > li {
                                    margin-left: $grid-gutter-width / 2;
                                    font-size: 1.1rem;
                                }
                            }

                            > small {
                                font-size: 0.75rem;
                            }
                        }

                        &:hover {
                            ul.action-list {
                                display: flex;
                            }
                        }
                    }
                }
            }

            > article {
                > table {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }

            input:focus {
                outline-width: 0;
            }

            > fieldset {
                > input {
                    border: 1px rgb(204, 204, 204) solid;
                    border-radius: 4px;
                    padding: 2px 8px;
                    height: auto;
                    line-height: 32px;
                    font-size: 1rem;
                }
            }
        }
    }

    > footer.container {
        height: 80px;
        padding-top: $grid-gutter-width / 2;
        padding-bottom: $grid-gutter-width / 2;
        padding-left: 0;
        padding-right: 0;
        color: white;
        font-size: 0.875rem;

        @include media-breakpoint-only(xs) {
            height: 60px;
            font-size: 1.25rem;
            text-align: center;
        }
    }
}
