.notification-item {
    > .notification-custom {
        width: 100%;
        min-height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .notification-icon {
            margin: 0 0 0 10px;
            color: white;
            font-size: 1.75rem;
        }
    }
}

[class*='alert-'] {
    padding: $grid-gutter-width / 2;
    margin: $grid-gutter-width / 2;
    width: calc(100% - #{$grid-gutter-width});
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;

    > ul {
        margin: $grid-gutter-width / 4;
    }
}
